Ansible/fetch/
.terraform
DevOps/secret
site/
*.vagrant
Server/data
*.retry
*.log
*.lock
Server/html/shared/tmp/cache/
Server/html/webroot/img/uploads/
Server/html/webroot/cache_css
Server/html/webroot/cache_js
Server/data/chronograf/
.DS_Store
coverage/
.idea
.idea/
.pio
testdox.html
bower_components/
cache_css/
cache_js/
.sass-cache/
xdebug_profiler_output/
tmp/
.sass_cache/
Server/data/
Server/html/webroot/uploads/
src/cloud.google.com/
src/github.com/
src/golang.org/
src/google.golang.org/
src/gopkg.in/


.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode/c_cpp_properties.json

pkg/