.row.mtbox
  .col-md-2.col-sm-2.col-md-offset-1.box0
    .box1
      span.wi.wi-lightning
      h4 3,392 kW @ 10cents/kWhr
    p Power consumption is normal.
  .col-md-2.col-sm-2.box0
    .box1
      span.fa.fa-bar-chart
      h4 OCT +15% $/sqft
    p Profits are %15 above last quarter.
  .col-md-2.col-sm-2.box0
    .box1
      span.fa.fa-tint
      h4 750gal saved
    p Amount of water saved.
  .col-md-2.col-sm-2.box0
    .box1
      span.fa.fa-leaf
      h4 1320 Plants in bloom
    p Total number of plants in all bloom zones.
  .col-md-2.col-sm-2.box0
    .box1
      span.fa.fa-shopping-basket
      h4 538 lbs in cure
    p Total amount of cured bud in pounds.
